.upload-bg-color {
    background-color: #e1e1e1
}
.phicomm-box-body {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%
}
.phicomm-table-index {
    width: 10px
}
.phicomm-table-context {
    width: 160px
}