<section class="content">
    <!-- //四个标签 开始-->
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-primary"
                 onmouseover="this.className='box box-danger'" onmouseout="this.className='box box-primary'">
                <div class="box-header with-border">
                <div class="col-md-4 ">
                    <i class="fa fa-5x fa-edit" > </i>
                </div>
                <div class="col-md-8 ">
                    <h4>血压计总使用总量</h4>
                    <h3 id="saleNum">13,500</h3>
                    <p >（台）</p>
                </div>
                <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box box-primary"
                 onmouseover="this.className='box box-danger'" onmouseout="this.className='box box-primary'">
                <div class="box-header with-border">
                <div class="col-md-4 ">
                    <i class="fa fa-5x fa-edit" ></i>
                </div>
                <div class="col-md-8 ">
                    <h4>今日血压计使用量</h4>
                    <h3 id="bindNum">1,250</h3>
                    <p >（台）</p>
                </div>
                <div class="clearfix"> </div>
                </div>
            </div>
        </div>

    </div>
    <!-- //四个标签 结束-->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div id ="bpm-sale-month-chart">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="bpm-sale-day-chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/chartjs/Chart.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/highcharts.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/exporting.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/highcharts-zh_CN.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/oldie.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/series-label.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/phicomm_utils/drawChartUtil.js?v=$uuid"></script>
<script type="text/javascript" src="$baseUrl/resources/js/phicomm_utils/loading.js?v=$uuid"></script>
<script type="text/javascript" src="$baseUrl/resources/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/bpm_statistic/bpm_sale_statistic.js?v=$uuid"></script>
