<html>
    #set($baseUrl = $request.getScheme() + "://" + $request.getServerName() + ":" + $request.getServerPort() + $request.getContextPath())
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="product-manger">
    <meta name="author" content="yufei.liu">
    <link rel="shortcut icon" href="$baseUrl/resources/favicon.ico">
    <link rel="stylesheet" href="$baseUrl/resources/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="$baseUrl/resources/css/statistic/location.css">
    <title>斐讯体脂秤S7销售统计</title>
</head>
<body>
<div class="count">
    <span class="counter"></span>
</div>
<div id="main" class="echart_main"></div>
<div class="count">
    总销量：<span class="counter" id="ct">1,498,547</span>
</div>
<input id="baseUrl" value="$baseUrl" class="hidden"/>
</body>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/echarts-all-3.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/ecStat.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/dataTool.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/china.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/api.js"></script>
<script type="text/javascript" src="$baseUrl/resources/echart/bmap.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/count/countUp.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/location/location_2.js"></script>
</html>