<section class="content">
    <div class="row" style="padding-bottom: 8px">
        <span style="margin-left: 30px; background: #2a9b25; padding-right: 30px"></span><span>自动认领</span>
        <span style="margin-left: 30px; background: #2aa59a; padding-right: 30px"></span><span>手动认领</span>
        <span style="margin-left: 30px; background: #3199eb; padding-right: 30px"></span><span>锁定上称</span>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">体脂称称量数据来源(最近10天数据来源)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <li class="fa fa-times"></li>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="balance_data_source"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6"></div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/chartjs/Chart.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/balance_statistic/balance_data_source.js"></script>
