.div_1 {
    height: 102px;
    background-color: #4b646f
}
.div_2 {
    width: 30%;
    height: 100%;
    background-color: red;
    float: left;
}
.div_3 {
    width: 70%;
    height: 100%;
    background-color: burlywood;
    float: left
}

.image_1 {
    width: 92%;
    margin: auto;
    align-items: center;
    display: block;
}
.section_1 {
    padding-top: 0;
}