<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id ="trace-user-activity-chart-pv">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id ="trace-user-activity-chart-uv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/highcharts.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/exporting.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/highcharts-zh_CN.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/oldie.js"></script>
<script type="text/javascript" src="$baseUrl/resources/highchart/series-label.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/phicomm_utils/drawChartUtil.js?v=$uuid"></script>
<script type="text/javascript" src="$baseUrl/resources/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/trace/balance_trace_user_activity.js?v=$uuid"></script>