<section class="content">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="input-group input-group-sm col-md-12">
                <div class="box-header">
                    <h3 class="box-title">新增体脂称Ota服务器地址</h3>
                </div>
                <form role="form" enctype="multipart/form-data" id="addNewAddress">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="version">IP地址</label>
                            <input type="text" class="form-control" id="serverIp" name="serverIp" placeholder="Server Ip">
                        </div>
                        <div class="form-group">
                            <label for="version">端口号</label>
                            <input type="number" class="form-control" id="serverPort" name="serverPort" placeholder="Server Port">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" onclick="addNewServer()">上传</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/ota/balance_ota_server_add.js"></script>