<link rel="stylesheet" href="$baseUrl/resources/css/ota/otaLayout.css">
<section class="content">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="input-group input-group-sm col-md-12">
                <div class="box-header" style="text-align: center;margin-top: 2%">
                    <h3 class="box-title">新增体脂称Ota服务器地址</h3>
                </div>
                <form role="form" enctype="multipart/form-data" id="addNewAddress"
                      style="padding-top: 10%;margin-bottom: 20%">
                    <div class="box-body center-layout">
                        <div class="input-group input-group-sm" style="width: 30%">
                            <input type="text" class="form-control" id="serverIp" name="serverIp"
                                   placeholder="Server Ip" style="text-align: center;border-radius: 4px">
                        </div>
                        <div>
                            <H5>:</H5>
                        </div>
                        <div style="width: 20%">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="serverPort" name="serverPort"
                                       placeholder="Server Port" style="text-align: center;border-radius: 4px">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat"
                                          onclick="addNewServer()">Go!</button>
                                </span>
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/ota/balance_ota_server_add.js"></script>