<li class="header">Balance Sales Stistic</li>
<li class="treeview" id="balance-statistic-1">
    <a href="#">
        <i class="fa fa-tasks"></i>
        <span>体脂秤销售统计</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="balance-statistic-2">
        <li id="balance-statistic-3"><a href="$baseUrl/balance/statistic/balance/sales/location"><i class="fa fa-line-chart"></i> 销售地区统计</a></li>
        <li><a href="$baseUrl/balance/statistic/count"><i class="fa fa-bar-chart"></i> 体脂秤销售数量统计</a></li>
        <li><a href="$baseUrl/balance/statistic/account/info/page"><i class="fa fa-html5"></i> 体脂秤账户信息统计</a></li>
        <li><a href="$baseUrl/balance/shipment/status"><i class="fa fa-truck"></i> 体脂秤出货查询</a></li>
        <li><a href="$baseUrl/statistic/page/user/analysis"><i class="fa fa-bullhorn"></i> 用户成分分析</a></li>
        <li><a href="$baseUrl/statistic/page/balance/active/statistic"><i class="fa fa-truck"></i> 体脂秤日活统计</a></li>
        <li><a href="$baseUrl/statistic/page/balance/24hour/display"><i class="fa fa-line-chart"></i> 体脂称24小时测量数据统计</a></li>
        <li><a href="$baseUrl/statistic/page/balance/electrode/display"><i class="fa fa-line-chart"></i> 体脂称测量数据电极数统计</a></li>
        <li><a href="$baseUrl/statistic/sales/statistic/projection">
                <i class="fa fa-line-chart"></i> 统计全屏显示
                <span class="pull-right-container">
                    <small class="label pull-right bg-yellow-active">Big</small>
                </span>
            </a>
        </li>
    </ul>
</li>