<li class="header">Balance Sales Stistic</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i>
        <span>体脂秤销售统计</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-tint"></i> K码激活统计</a></li>
        <li><a href="#"><i class="fa fa-line-chart"></i> 销售地区统计</a></li>
        <li><a href="#"><i class="fa fa-globe"></i> 体脂秤数量统计</a></li>
        <li>
            <a href="$baseUrl/statistic/sales/location/projection">
                <i class="fa fa-line-chart"></i> 统计全屏显示
                <span class="pull-right-container">
                    <small class="label pull-right bg-yellow-active">Big</small>
                </span>
            </a>
        </li>
    </ul>
</li>