<li class="header">Balance Sales Stistic</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i>
        <span>电子秤销售统计</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="$baseUrl/statistic/sales/location"><i class="fa fa-cloud"></i> 激活地理统计</a></li>
        <li><a href="$baseUrl/statistic/sales/location/projection"><i class="fa fa-cloud"></i> 激活地理统计(全屏)</a></li>
        <li><a href="#"><i class="fa fa-cloud"></i> xxxxxxx</a></li>
        <li><a href="#"><i class="fa fa-cloud"></i> xxxxxxx</a></li>
    </ul>
</li>
