<li class="header">Balance Sales Stistic</li>
<li class="treeview" id="balance-statistic-1">
    <a href="#">
        <i class="fa fa-tasks"></i>
        <span>体脂秤销售统计</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="balance-statistic-2">
        <li><a href="$baseUrl/balance/statistic/page/k/code/active"><i class="fa fa-rmb"></i> K码激活统计</a></li>
        <li><a href="$baseUrl/balance/statistic/balance/sales/location"><i class="fa fa-line-chart"></i> 销售地区统计</a></li>
        <li><a href="$baseUrl/balance/statistic/count"><i class="fa fa-bar-chart"></i> 体脂秤销售数量统计</a></li>
        <li><a href="$baseUrl/balance/shipment/status"><i class="fa fa-truck"></i> 体脂秤出货查询</a></li>
        <li><a href="$baseUrl/statistic/page/user/analysis"><i class="fa fa-bullhorn"></i> 用户成分分析</a></li>
        <li>
            <a href="$baseUrl/statistic/sales/statistic/projection">
                <i class="fa fa-line-chart"></i> 统计全屏显示
                <span class="pull-right-container">
                    <small class="label pull-right bg-yellow-active">Big</small>
                </span>
            </a>
        </li>
    </ul>
</li>