<li class="header">Card Manger</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-delicious"></i>
        <span>卡片管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-cloud"></i> 健康卡片管理</a></li>
        <li><a href="#"><i class="fa fa-cloud"></i> 运动卡片管理</a></li>
    </ul>
</li>