<li class="header">User Feedback Manger</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i>
        <span>用户意见反馈</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="$baseUrl/balance/feedback/show"><i class="fa fa-question-circle"></i> 反馈信息展示</a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-phone-square"></i> Level One
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-location-arrow"></i> Level Two
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-share-alt-square"></i> Level Three</a></li>
                        <li><a href="#"><i class="fa fa-pencil-square-o"></i> Level Three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-paw"></i> Level One</a></li>
    </ul>
</li>