<li class="header">Firmware Upgrade</li>
<li class="treeview" id="firmware-upgrade-node">
    <a href="#">
        <i class="fa fa-arrow-up"></i>
        <span>固件升级</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>

    <ul class="treeview-menu" id="firmware-upgrade-menu-node">
        <li id="balance_ota_menu_node">
            <a href="pages/widgets.html">
                <i class="fa fa-cloud"></i>
                <span>体脂秤OTA升级</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">OTA</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li id="balance_ota_upload_node"><a href="$baseUrl/balance/ota"><i class="fa fa-toggle-up"></i>
                    OTA文件上传</a></li>
                <li id="balance_ota_list_test_node">
                    <a href="$baseUrl/balance/ota/list/test"><i class="fa fa-list"></i>
                        <span>OTA固件列表</span>
                        <span class="pull-right-container">
                                <small class="label pull-right bg-green">test</small>
                        </span>
                    </a>
                </li>
                <li id="balance_ota_list_prod_node">
                    <a href="$baseUrl/balance/ota/list/prod"><i class="fa fa-list"></i>
                        <span>OTA固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red-active">prod</small>
                        </span>
                    </a>
                </li>

                <li id="balance_ota_server_node">
                    <a href="$baseUrl/balance/ota/server/manage"><i class="fa fa-list"></i> 服务器地址列表</a>
                </li>

                <li id="balance_ota_server_add_node">
                    <a href="$baseUrl/balance/ota/server/add"><i class="fa fa-toggle-up"></i> 服务器地址上传</a>
                </li>

                <li id="balance_ota_mac_node">
                    <a href="$baseUrl/balance/ota/mac/manage"><i class="fa fa-empire"></i> 添加测试MAC</a>
                </li>
            </ul>
        </li>

        <li id="balance_mcu_menu_node">
            <a href="pages/widgets.html">
                <i class="fa fa-th"></i>
                <span>体脂秤MCU升级</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">mcu</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li id="balance_mcu_upload_node"><a href="$baseUrl/balance/mcu"><i class="fa fa-toggle-up"></i>
                    MCU文件上传</a></li>
                <li id="balance_mcu_list_test_node">
                    <a href="$baseUrl/balance/mcu/list/test"><i class="fa fa-list"></i>
                        <span>MCU固件列表</span>
                        <span class="pull-right-container">
                                <small class="label pull-right bg-green">test</small>
                        </span>
                    </a>
                </li>
                <li id="balance_mcu_list_prod_node">
                    <a href="$baseUrl/balance/mcu/list/prod"><i class="fa fa-list"></i>
                        <span>MCU固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red-active">prod</small>
                        </span>
                    </a>
                </li>
                <li id="balance_mcu_mac_node">
                    <a href="$baseUrl/balance/mcu/mac/manage"><i class="fa fa-empire"></i> 添加测试MAC</a>
                </li>
            </ul>
        </li>
        <li id="firmware-upgrade-wristband-li-node">
            <a href="pages/widgets.html">
                <i class="fa fa-soundcloud"></i>
                <span>手环固件升级</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">wristband</small>
                </span>
            </a>
            <ul class="treeview-menu" id="firmware-upgrade-wristband-menu-node">
                <li id="firmware-upgrade-wristband-update">
                    <a href="$baseUrl/wristband/upgrade/page/file/upload"><i class="fa fa-toggle-up"></i> 固件更新</a>
                </li>
                <li id="firmware-upgrade-wristband-add">
                    <a href="$baseUrl/wristband/upgrade/page/file/add"><i class="fa fa-toggle-up"></i> 固件&APP上传</a>
                </li>
                <li id="firmware-upgrade-wristband-test-list">
                    <a href="$baseUrl/wristband/upgrade/page/test/list"><i class="fa fa-list"></i>
                        <span>固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">test</small>
                        </span>
                    </a>
                </li>
                <li id="firmware-upgrade-wristband-prod-list">
                    <a href="$baseUrl/wristband/upgrade/page/prod/list"><i class="fa fa-list"></i>
                        <span>固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red-active">prod</small>
                        </span>
                    </a>
                </li>
                <li id="firmware-upgrade-wristband-trigger-config"><a href="$baseUrl/wristband/upgrade/page/trigger/config"><i class="fa fa-file-archive-o"></i>
                    配置管理</a></li>
            </ul>
        </li>
    </ul>
</li>