<li class="header">Firmware Upgrade</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-arrow-up"></i>
        <span>固件升级</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-th"></i>
                <span>体脂秤OTA升级</span>
                <span class="pull-right-container">
            <small class="label pull-right bg-green">ota</small>
        </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#2"><i class="fa fa-circle-o"></i> OTA文件上传</a></li>
                <li><a href="#2"><i class="fa fa-circle-o"></i> 固件列表</a></li>
                <li><a href="#3"><i class="fa fa-circle-o"></i> 配置管理</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-cloud"></i> 体脂秤固件升级</a></li>
        <li><a href="#"><i class="fa fa-cloud"></i> 手环固件升级</a></li>
    </ul>
</li>