<li class="header">Firmware Upgrade</li>
<li class="treeview" id="firmware-upgrade-node">
    <a href="#">
        <i class="fa fa-arrow-up"></i>
        <span>固件升级</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="firmware-upgrade-menu-node">
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-th"></i>
                <span>体脂秤OTA升级</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">ota</small>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="$baseUrl/balance/ota"><i class="fa fa-circle-o"></i> OTA文件上传</a></li>
                <li>
                    <a href="$baseUrl/balance/ota/list/test"><i class="fa fa-circle-o"></i>
                        <span>Ota固件列表</span>
                        <span class="pull-right-container">
                                <small class="label pull-right bg-green">test</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="$baseUrl/balance/ota/list/prod"><i class="fa fa-list"></i>
                        <span>Ota固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red-active">prod</small>
                        </span>
                    </a>
                </li>

                <li><a href="#3"><i class="fa fa-circle-o"></i> 配置管理</a></li>

            </ul>
        </li>
        <li><a href="#"><i class="fa fa-cloud"></i> 体脂秤固件升级</a></li>
        <li id="firmware-upgrade-wristband-li-node">
            <a href="pages/widgets.html">
                <i class="fa fa-soundcloud"></i>
                <span>手环固件升级</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">wristband</small>
                </span>
            </a>
            <ul class="treeview-menu" id="firmware-upgrade-wristband-menu-node">
                <li>
                    <a href="$baseUrl/wristband/upgrade/page/file/upload"><i class="fa fa-toggle-up"></i> 固件上传</a>
                </li>
                <li>
                    <a href="$baseUrl/wristband/upgrade/page/test/list"><i class="fa fa-list"></i>
                        <span>固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">test</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="$baseUrl/wristband/upgrade/page/prod/list"><i class="fa fa-list"></i>
                        <span>固件列表</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red-active">prod</small>
                        </span>
                    </a>
                </li>
                <li><a href="$baseUrl/wristband/upgrade/page/trigger/config"><i class="fa fa-file-archive-o"></i> 配置管理</a></li>
            </ul>
        </li>
    </ul>
</li>