<li class="header">Permission Manger</li>
<li class="treeview" id="user-manger-node-1">
    <a href="#">
        <i class="fa fa-gears"></i>
        <span>用户权限管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="user-manger-node-2">
        <li id="user-manger-node-li-1">
            <a href="$baseUrl/user/manger/page">
                <i class="fa fa-user"></i>
                <span>用户管理</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li id="user-manger-node-3"><a href="$baseUrl/user/manger/page/list"><i class="fa fa-futbol-o"></i> 用户列表</a></li>
                <li id="user-manger-node-4"><a href="$baseUrl/user/manger/page/create/user"><i class="fa fa-puzzle-piece"></i> 添加用户</a></li>
            </ul>
        </li>
        <li>
            <a href="$baseUrl/permission/manger/page"><i class="fa fa-legal"></i> 权限管理</a>
            <ul class="treeview-menu">
                <li>
                    <a href="$baseUrl/wristband/upgrade/page/file/upload"><i class="fa fa-puzzle-piece"></i> 用户列表</a>
                </li>
                <li>
                    <a href="$baseUrl/wristband/upgrade/page/trigger/config"><i class="fa fa-file-archive-o"></i> 用户列表</a>
                </li>
            </ul>
        </li>
    </ul>
</li>