<li class="header">Picture Manager</li>
<li>
    <a href="#">
        <i class="fa fa-upload"></i>
        <span>图片上传</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="essay_manage_menu_node">
        <li id="picture_upload">
            <a href="$baseUrl/picture/page"><i class="fa fa-newspaper-o"></i>
                <span>上传图片</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green"></small>
                </span>
            </a>
        </li>

        <li>
            <a href="$baseUrl/picture/upload/page/config"><i class="fa fa-file-archive-o"></i>
                <span> 配置管理</span>
            </a>
        </li>

        <li>
            <a href="$baseUrl/picture/list"><i class="fa fa-file-archive-o"></i>
                <span> 图片列表</span>
            </a>
        </li>


    </ul>
</li>