<li class="header">user share statistic</li>
<li class="treeview" id="trace-sport-node">
    <a href="#">
        <i class="fa fa-anchor"></i>
        <span>运动统计</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="trace-sport-menu-node">
        <li id="user-activity-trace-sport-node"><a href="$baseUrl/trace/user/activity/sport"><i class="fa fa-meh-o"></i>用户活跃度</a>
        </li>
        <li id="user-activity-trace-sport-node1"><a href="$baseUrl/wristband_report/page"><i class="fa fa-meh-o"></i>手环手表激活与使用数据报告</a>
        </li>
##        <li id="user-activity-trace-sport-node2"><a href="$baseUrl/wristband/type/count/page"><i class="fa fa-bar-chart"></i> 统计不同设备类型的激活</a></li>

    </ul>
</li>