<li class="header">Swagger Manger</li>
<li class="treeview" id="swagger-node">
    <a href="#">
        <i class="fa fa-gears"></i>
        <span>在线文档管理</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" id="swagger_menu_node">
        <li id="swagger_project_manager_node">
            <a href="$baseUrl/swagger/project/manager"><i class="fa fa-user"></i>项目管理</a>
        </li>
        <li id="swagger_project_edit_node">
            <a href="$baseUrl/swagger/project/edit"><i class="fa fa-user"></i>信息编辑</a>
        </li>
    </ul>
</li>