<link rel="stylesheet" href="$baseUrl/resources/datatable/dataTables.bootstrap.css">
<link rel="stylesheet" href="$baseUrl/resources/css/datatables/datatables.css">
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">生产环境体脂秤MCU列表</h3>
                </div>
                <div class="box-body">
                    <table id="mcuVersionList" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>固件版本</th>
                            <th>版本类型</th>
                            <th>版本状态</th>
                            <th>创建时间</th>
                            <th>操    作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/datatable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/datatable/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/mcu/balance_mcu_list_prod.js"></script>