<link rel="stylesheet" href="$baseUrl/resources/css/shipment/balance_mac_status.css">
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid Center-Container phicomm-bg-color">
                <div class="input-group input-group-sm Absolute-Center">
                    <input type="text"
                           class="form-control"
                           id="inputParam"
                           placeholder="搜索MAC/SN相关信息，如键入:5c:cf:7f:90:fd:13或CARBF1175J23166">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-flat" onclick="obtainMacInfo()">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Query result
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div id="result" class="phicomm_collapseThree_div">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th class="phicomm_balance_mac_status_center">激活&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        地址
                                    </th>
                                    <td id="activeLocation" class="phicomm_balance_mac_status_center"></td>
                                </tr>
                                <tr>
                                    <th class="phicomm_balance_mac_status_center">首次使用时间</th>
                                    <td id="createTime" class="phicomm_balance_mac_status_center"></td>
                                </tr>
                                <tr>
                                    <th class="phicomm_balance_mac_status_center">共绑定成员数</th>
                                    <td id="bindNumber" class="phicomm_balance_mac_status_center"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/shipment/balance_mac_status.js?v=$uuid"></script>