<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid" style="background-color: #e1e1e1">
                <div class="box-body">
                    <div class="input-group input-group-sm"
                         style="width: 50%;
                     margin-left: 25%;
                     margin-right: 25%;
                     margin-top: 5%;
                     margin-bottom: 5%">
                        <input type="text"
                               class="form-control"
                               id="inputMac"
                               placeholder="搜索MAC相关信息，如键入:A020A6351AD5或5c:cf:7f:90:fd:13"
                        >
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-flat" onclick="obtainMacInfo()">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Query result
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div style="width: 50%;
                                    margin-left: 25%;
                                    margin-right: 25%;
                                    margin-top: 4%;
                                    margin-bottom: 4%;
                                    visibility: hidden" id="result">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="text-align: center">激活&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 地址</th>
                                    <td id="activeLocation" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: center">首次使用时间</th>
                                    <td id="createTime" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: center">共绑定成员数</th>
                                    <td id="bindNumber" style="text-align: center"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<script>
    function obtainMacInfo() {
        $.ajax({
            type: "POST",
            url: "$baseUrl/balance/mac/info",
            dataType: "json",
            data: {
                /*"mac": document.getElementById("inputMac").value*/
                "mac": $("#inputMac").val()
            },
            error: function (req, status, err) {
                alert('Failed reason: ' + err);
            }, success: function (data) {
                var status = data.status;
                if (status != 0) {
                    alert('Data format error !');
                } else {
                    var result = data.data;
                    console.info(result)
                    document.getElementById("result").style.visibility = 'visible';
                    var createTime = result.createTime;
                    var activeLocation = result.activeLocation;
                    var memberCount = result.memberCount;
                    if (createTime == null) {
                        createTime = "尚未使用";
                        memberCount = "尚未绑定";
                        if (activeLocation == "无激活信息") {
                            activeLocation = "尚未激活";
                        }
                    } else {
                        if (memberCount == 0) {
                            memberCount = "尚未绑定";
                        }
                    }
                    $("#createTime").text(createTime);
                    $("#bindNumber").text(memberCount);
                    $("#activeLocation").text(activeLocation);
                }

            }
        })
    }
</script>