.Absolute-Center.is-Responsive {
    width: 60%;
    height: 20%;
    min-width: 300px;
    max-width: 700px;
    padding: 10px;
}

.Center-Container {
    position: relative;
}

.Absolute-Center {
    width: 50%;
    height: 15%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}