.count {
    display: block;
    position: absolute;
    top: 12%;
    right: 8%;
    font-size: 40px;
    color: #fff;
    font-family: Consolas;
    font-weight: bold;
}
.echart_main {
    height: 100%
}
.counter {
}