<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.OtaServerAddressMapper">

    <select id="obtainServerAddress" resultType="com.phicomm.product.manger.model.server.BalanceServerAddressBean">
        SELECT
            host_and_port AS hostAndPort
        FROM
            balance_ota_server_address
    </select>

    <insert id="insertServerAddress">
        INSERT IGNORE INTO
            balance_ota_server_address (
                host_and_port
             )
        VALUES(
                #{hostAndPort,jdbcType=VARCHAR}
             )
    </insert>

    <delete id="deleteServerAddress">
        DELETE FROM
            balance_ota_server_address
        WHERE
            host_and_port = #{hostAndPort,jdbcType=VARCHAR}
    </delete>
</mapper>