<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BalanceLocationMapper">

    <select id="getTotalBalanceLocation" resultType="com.phicomm.product.manger.model.statistic.BalanceLocation">
        SELECT
            province AS province,
            count(1) AS `number`
        FROM
            balance_location_info
        GROUP BY
            province
    </select>

    <select id="getLocationTotalCount" resultType="java.lang.Integer">
         SELECT
            count(1)
        FROM
            balance_location_info
    </select>

    <select id="getCurrentDateBalanceLocation" resultType="com.phicomm.product.manger.model.statistic.BalanceLocation">
        SELECT
            province AS province,
            count(1) AS `number`
        FROM
            balance_location_info
        WHERE
            create_time > #{currentDate,jdbcType=VARCHAR}
        GROUP BY
            province
    </select>

    <select id="getBalanceSaleNumber" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            balance_status_info
    </select>

    <select id="obtainLocationCountByMonth" resultType="com.phicomm.product.manger.model.statistic.LocationCountBean"
            parameterType="java.lang.Integer">
        <![CDATA[

        SELECT
            province AS province,
            COUNT(1) AS generateCount
        FROM
            (
                SELECT

                IF (
                    POSITION('自治区' IN province) > 0,
                    LEFT (
                        province,
                        LOCATE('自治区', province) - 1
                    ),
                    province
                ) AS province,
                DATE_FORMAT(create_time, '%Y-%m-%d') AS createDay
            FROM
                balance_location_info
            )b
        WHERE
            DATE_FORMAT(createDay, '%Y-%m') > DATE_FORMAT(
                DATE_ADD(NOW(), INTERVAL - #{month,jdbcType=INTEGER } MONTH),
                '%Y-%m'
            )
        AND createDay < DATE_FORMAT(NOW(), '%Y-%m-%d')
        AND LENGTH(province) > 0
        AND province <> 'no_location'
        AND province <> 'Reserved Address'
        GROUP BY
            province
        ORDER BY
            generateCount DESC
        LIMIT #{pageSize,jdbcType=INTEGER}

        ]]>
    </select>

    <select id="obtainLocationCountByDay" resultType="com.phicomm.product.manger.model.statistic.LocationCountBean"
            parameterType="java.lang.Integer">
        <![CDATA[

            SELECT
                province AS province,
                COUNT(1) AS generateCount
            FROM
                (
                    SELECT
                        DATE_FORMAT(create_time, '%Y-%m-%d') AS dayTime,
                        IF (
                            POSITION('自治区' IN province)>0,
                            LEFT (
                                province,
                                LOCATE('自治区', province) - 1
                            ),
                            province
                        ) AS province
                    FROM
                        balance_location_info
                    HAVING
                        dayTime >= DATE_FORMAT(
                            DATE_ADD(NOW(), INTERVAL - #{day,jdbcType=INTEGER} DAY),
                            '%Y-%m-%d'
                        )
                    AND dayTime < DATE_FORMAT(NOW(), '%Y-%m-%d')
                ) b
            WHERE
                LENGTH(province) > 0
            AND province <> 'no_location'
            AND province <> 'Reserved Address'
            GROUP BY
                province
            ORDER BY
                generateCount DESC
            LIMIT #{pageSize,jdbcType=INTEGER}

        ]]>
    </select>
</mapper>