<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BalanceUserManagerMapper">

    <select id="obtainMemberCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
             COUNT(member_id) AS memberCount
        FROM
             balance_user_manger_info
        WHERE
             user_id IN (
             SELECT
                  user_id
             FROM
                  balance_mac_manger_info
             WHERE
                  mac = #{mac,jdbcType=VARCHAR}
             )
    </select>

    <select id="statisticMember" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            balance_user_manger_info
        WHERE
        sex = #{sex,jdbcType=INTEGER}
    </select>

    <select id="statisticMemberByAge" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            balance_user_manger_info
        WHERE
            ROUND(DATEDIFF(CURDATE(), birthday)/365.2422)
        BETWEEN
            #{lowAge,jdbcType=INTEGER} and #{highAge,jdbcType=INTEGER}
        AND
            sex = #{sex,jdbcType=INTEGER}
    </select>

    <select id="obtainUserGenderInfo" parameterType="java.lang.Integer" resultType="com.phicomm.product.manger.model.statistic.UserAgeSectionOriginalBean">
        <![CDATA[
        SELECT
            IF (
            LEFT (age, LENGTH(age) - 1) = 0,
            0,
            LEFT (age, LENGTH(age) - 1)
            ) AS ageSection,
            COUNT(*) AS sectionNum
        FROM
            (
            SELECT
                ROUND(
                DATEDIFF(CURDATE(), birthday) / 365.2422
                ) AS age
            FROM
                balance_user_manger_info
            WHERE
                sex = #{gender,jdbcType=INTEGER}
            AND create_time < CURRENT_DATE
            HAVING
            LENGTH(age) > 0
            AND age < 130
            ) b
        GROUP BY
            ageSection
        ]]>
    </select>
</mapper>