<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BalanceCronStatisticMapper">

    <!--
            index: null
            performance: good
            check-time: 2018-01-11
     -->
    <select id="getBalanceAccountInfo" resultType="com.phicomm.product.manger.model.statistic.BalanceAccountInfo">
        SELECT
	      user_count AS userCount,
	      member_count AS memberCount,
	      mac_count AS macCount
        FROM
	      `balance_account_count_each_hour`;
    </select>

    <insert id="insertUpateBalanceAccountInfo">
        REPLACE INTO `balance_account_count_each_hour` (
            id,
            user_count,
            member_count,
            mac_count
        )
        VALUES
            (1,
             #{userCount, jdbcType=INTEGER},
             #{memberCount, jdbcType=INTEGER},
             #{macCount, jdbcType=INTEGER} );
    </insert>


</mapper>