<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BalanceStatusMapper">

    <select id="obtainCountByMonth" resultType="com.phicomm.product.manger.model.statistic.CountBean"
            parameterType="java.lang.Integer">
        <![CDATA[

        SELECT
            DATE_FORMAT(dayTime, '%Y-%m') AS generateTime,
            SUM(dayCount) AS generateCount
        FROM
        (
        SELECT
            DATE_FORMAT(create_time, '%Y-%m-%d') AS dayTime,
            COUNT(1) AS dayCount
        FROM
            `balance_status_info`
        GROUP BY
            dayTime
        HAVING
            dayTime < DATE_FORMAT(NOW(), '%Y-%m-%d')
            ) b
        GROUP BY
            generateTime
        HAVING
            generateTime > DATE_FORMAT(
            DATE_ADD(NOW(), INTERVAL - #{month,jdbcType=INTEGER} MONTH),
            '%Y-%m'
            )
        ORDER BY
            generateTime DESC

        ]]>
    </select>

    <select id="obtainCountByDay" resultType="com.phicomm.product.manger.model.statistic.CountBean"
            parameterType="java.lang.Integer">
        <![CDATA[

        SELECT
            DATE_FORMAT(create_time, '%Y-%m-%d') AS generateTime,
            COUNT(1) AS generateCount
        FROM
            `balance_status_info`
        GROUP BY
            generateTime
        HAVING
            generateTime >= DATE_FORMAT(
            DATE_ADD(NOW(), INTERVAL - #{day,jdbcType=INTEGER} DAY),
            '%Y-%m-%d'
            )
        AND
            generateTime<DATE_FORMAT(NOW(),'%Y-%m-%d')
        ORDER BY
            generateTime DESC

        ]]>
    </select>

    <select id="obtainBalanceMacInfo" parameterType="java.lang.String"
            resultType="com.phicomm.product.manger.model.statistic.BalanceMacStatus">
        SELECT
            t.createTime AS createTime,
            t.memberCount AS memberCount,
            t.activeLocation AS activeLocation
        FROM
            (
                SELECT
                    (
                        SELECT
                            DATE_FORMAT(create_time,'%Y-%m-%d %H-%i-%s')
                        FROM
                            balance_status_info
                        WHERE
                            mac = #{mac,jdbcType=VARCHAR}
                    ) AS createTime,
                    (
                        SELECT
                            COUNT(member_id) AS memberCount
                        FROM
                            balance_user_manger_info
                        WHERE
                            user_id IN (
                                SELECT
                                    user_id
                                FROM
                                    balance_mac_manger_info
                                WHERE
                                    mac = #{mac,jdbcType=VARCHAR}
                            )
                    ) AS memberCount,
                    (
                        SELECT
                            city
                        FROM
                            `balance_lianbi_active_info`
                        WHERE
                            mac = #{mac,jdbcType=VARCHAR}
                    ) AS activeLocation
            ) t
    </select>

    <select id="obtainStatusCreateTime" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
         DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') AS createTime
    FROM
         balance_status_info
    WHERE
         mac = #{mac,jdbcType=VARCHAR}
    </select>
</mapper>