<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BpmSaleStatisticMapper">

    <!--统计销售的血压计的数量，前n个月-->
    <select id="obtainBpmSaleByMonth" resultType="com.phicomm.product.manger.model.bpm.BpmCountBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%y-%m') AS bindPBMTime,
                count(DISTINCT device_id) AS bindPBMCount
            FROM
                device_location_info
            WHERE
            device_type = 'blood_pressure_meter'
            GROUP BY
                bindPBMTime
            HAVING
                bindPBMTime > DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{months,jdbcType=INTEGER} MONTH),
                    '%y-%m'
                )
            AND bindPBMTime <= DATE_FORMAT(NOW(), '%y-%m')
            ORDER BY
                bindPBMTime DESC
        ]]>
    </select>

    <!--统计销售的血压计的数量，最近n天-->
    <select id="obtainBpmSaleNumByDay" resultType="com.phicomm.product.manger.model.bpm.BpmCountBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%m-%d') AS bindPBMTime,
                count(DISTINCT device_id) AS bindPBMCount
            FROM
                device_location_info
            WHERE
                device_type = 'blood_pressure_meter'
            GROUP BY
                bindPBMTime
            HAVING
                bindPBMTime > DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{days,jdbcType=INTEGER} DAY),
                    '%m-%d'
                )
            AND bindPBMTime <= DATE_FORMAT(NOW(), '%m-%d')
            ORDER BY
                bindPBMTime DESC
        ]]>
    </select>

    <!--统计血压计 销售总量-->
    <select id="obtainBpmSaleNumAll" resultType="int">
            SELECT
                COUNT(DISTINCT device_id) AS number
            FROM
                device_location_info
            WHERE
                device_type = 'blood_pressure_meter'
    </select>

    <!--统计血压计 今日销量总量-->
    <select id="obtainBpmSaleNumToday" resultType="int">
            SELECT
                COUNT(DISTINCT device_id) AS number
            FROM
                device_location_info
            WHERE
                DATE_FORMAT(create_time, '%y-%m-%d') = DATE_FORMAT(now(), '%y-%m-%d')
            AND
                device_type = 'blood_pressure_meter'
    </select>

</mapper>