<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.BPMStatisticMapper">

    <!--绑定 相关统计***begin***-->
    <!--统计被绑定的血压计的数量,最近N天的数据-->
    <select id="obtainBPMCountByDay" resultType="com.phicomm.product.manger.model.bpmstatistic.BPMCountBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%y-%m-%d') AS bindPBMTime,
                count(DISTINCT device_id) AS bindPBMCount
            FROM
                blood_pressure_meter_bind_info
            GROUP BY
                bindPBMTime
            HAVING
                bindPBMTime >= DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{days,jdbcType=INTEGER} DAY),
                    '%y-%m-%d'
                )
            AND bindPBMTime < DATE_FORMAT(NOW(), '%y-%m-%d')
            ORDER BY
                bindPBMTime DESC
        ]]>
    </select>

    <!--统计被绑定的血压计的数量,最近N月的数据-->
    <select id="obtainBPMCountByMonth" resultType="com.phicomm.product.manger.model.bpmstatistic.BPMCountBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%y-%m') AS bindPBMTime,
                count(DISTINCT device_id) AS bindPBMCount
            FROM
                blood_pressure_meter_bind_info
            GROUP BY
                bindPBMTime
            HAVING
                bindPBMTime >= DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{months,jdbcType=INTEGER} MONTH),
                    '%y-%m'
                )
            AND bindPBMTime < DATE_FORMAT(NOW(), '%y-%m-%d')
            ORDER BY
                bindPBMTime DESC
        ]]>
    </select>

    <!--统计被绑定的血压计的数量,总的数量-->
    <select id="obtainBPMCountAll" resultType="int">
        SELECT
          COUNT(DISTINCT device_id) AS bindPBMCount
        FROM
          blood_pressure_meter_bind_info
    </select>
    <!--绑定 相关统计***end***-->


    <!--血压测量数据表 相关统计***begin***-->
    <!--统计血压计的前n天测量数据-->
    <select id="obtainBPMeasureCountByDay" resultType="com.phicomm.product.manger.model.bpmstatistic.BPMMeasureBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%y-%m-%d') AS measureTime,
                count(1) AS measureCount
            FROM
                blood_pressure_measure_info_#{table,jdbcType=INTEGER}
            GROUP BY
                measureTime
            HAVING
                measureTime >= DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{day,jdbcType=INTEGER} DAY),
                    '%y-%m-%d'
                )
            AND measureTime < DATE_FORMAT(NOW(), '%y-%m-%d')
            ORDER BY
                measureTime DESC
        ]]>
    </select>


    <!--统计血压计最近n个月中每月的测量数据-->
    <select id="obtainBPMeasureCountByMonth" resultType="com.phicomm.product.manger.model.bpmstatistic.BPMMeasureBean">
        <![CDATA[
            SELECT
                DATE_FORMAT(create_time, '%y-%m') AS measureTime,
                count(1) AS measureCount
            FROM
                blood_pressure_measure_info_#{table,jdbcType=INTEGER}
            GROUP BY
                measureTime
            HAVING
                measureTime > DATE_FORMAT(
                    DATE_ADD(NOW(), INTERVAL - #{month,jdbcType=INTEGER} MONTH),
                    '%y-%m'
                )
            AND measureTime < DATE_FORMAT(NOW(), '%y-%m-%d')
            ORDER BY
                measureTime DESC
        ]]>
    </select>


    <!--统计血压计测量数据总条数-->
    <select id="obtainBPMeasureCounts" resultType="int">
        SELECT
            count(1) AS bindPBMCount
        FROM
            blood_pressure_measure_info_#{table,jdbcType=INTEGER}
    </select>

    <!--统计血压计测量数据（当前月）总条数-->
    <select id="obtainBPMeasureCountsThisMonth" resultType="java.lang.String">
        SELECT
            create_time
        FROM
            blood_pressure_measure_info_#{table,jdbcType=INTEGER}
        WHERE
            DATE_FORMAT(create_time, '%y-%m') = DATE_FORMAT(now(), '%y-%m')
    </select>

    <!--统计血压计的测量的时间分布-->
    <select id="obtainBPMeasureTime" resultType="com.phicomm.product.manger.model.bpmstatistic.BPMMeasureBean">
            SELECT
                DATE_FORMAT(create_time, '%H') AS measureTime,
                count(1) AS measureCount
            FROM
                blood_pressure_measure_info_#{table,jdbcType=INTEGER}
            GROUP BY
                measureTime
            ORDER BY
                measureTime DESC
    </select>
    <!--血压测量数据表 相关统计***end***-->
</mapper>