<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.FeedbackInfoMapper">

    <select id="fetchFeedback" resultType="com.phicomm.product.manger.model.table.FeedbackInfoWithBLOBs">
        <![CDATA[
        SELECT
            feedback_info.id AS id,
            feedback_info.user_id AS userId,
            app_id AS appId,
            feedback AS feedback,
            picture AS picture,
            DATE_FORMAT(
                feedback_info.create_time,
                '%Y-%m-%d %H:%i:%s'
            ) AS createTime,
            user_info.username AS username,
            user_info.head_picture_url AS headerUrl
        FROM
            `feedback_info`
        JOIN user_info ON feedback_info.user_id = user_info.user_id
        WHERE
            feedback_info.id >=  #{startId,jdbcType=INTEGER}
        LIMIT #{pageSize,jdbcType=INTEGER};
        ]]>
    </select>

    <select id="fetchFeedbackV2" resultType="com.phicomm.product.manger.model.table.FeedbackInfoWithBLOBs">
        <![CDATA[
        SELECT
            feedback_info.id AS id,
            feedback_info.user_id AS userId,
            app_id AS appId,
            feedback AS feedback,
            picture AS picture,
            DATE_FORMAT(
                feedback_info.create_time,
                '%Y-%m-%d %H:%i:%s'
            ) AS createTime,
            user_info.username AS username,
            user_info.head_picture_url AS headerUrl
        FROM
            `feedback_info`
        JOIN user_info ON feedback_info.user_id = user_info.user_id
        WHERE
            feedback_info.id >=  #{requestBean.startId,jdbcType=INTEGER}
            AND feedback_info.create_time >= #{requestBean.startTime,jdbcType=TIMESTAMP}
            AND feedback_info.create_time< #{requestBean.endTime,jdbcType=TIMESTAMP}
            AND app_id = #{requestBean.appType,jdbcType=VARCHAR}
        LIMIT #{requestBean.pageSize,jdbcType=INTEGER};
        ]]>
    </select>

    <insert id="createFeedbackReview" parameterType="com.phicomm.product.manger.model.table.FeedbackReview">
        INSERT INTO `feedback_review`
            (
                user_id,feedback_info_id,reply,create_time
            )
        VALUES
            (
                #{feedbackReview.userId, jdbcType=INTEGER}, #{feedbackReview.feedbackInfoId, jdbcType=INTEGER},#{feedbackReview.reply, jdbcType=VARCHAR},#{feedbackReview.createTime, jdbcType=TIMESTAMP}
            );
    </insert>

    <select id="listFeedbackReview" resultType="com.phicomm.product.manger.model.table.FeedbackReview">
        SELECT
            id AS id,
            user_id AS userId,
            feedback_info_id AS feedbackInfoId,
            reply AS reply,
            DATE_FORMAT(
            create_time,
            '%Y-%m-%d %H:%i:%s'
            ) AS createTime
        FROM
            `feedback_review`
        WHERE
            feedback_info_id =  #{feedbackId,jdbcType=INTEGER};
    </select>

    <delete id="deleteFeedbackReview" parameterType="java.lang.Long">
        DELETE FROM
            `feedback_review`
        WHERE
            id = #{feedbackReviewId,jdbcType=INTEGER};
    </delete>
    <update id="collectFeedback" parameterType="java.lang.Long">
        UPDATE `feedback_info` SET
            status = 1
        WHERE
            id = #{feedbackId,jdbcType=INTEGER};
    </update>

    <update id="unCollectFeedback" parameterType="java.lang.Long">
        UPDATE `feedback_info` SET
            status = 0
        WHERE
            id = #{feedbackId,jdbcType=INTEGER};
    </update>

</mapper>