<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.FeedbackInfoMapper">

    <select id="getLatestItemId" resultType="java.lang.Long">
        SELECT
            IFNULL(MAX(feedback_id),-1) AS id
        FROM
            `feedback_info`;
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
        feedback_info(
        feedback_id,
        user_id,
        app_id,
        feedback,
        picture,
        create_time
        )VALUES
        <foreach collection="infoWithBLOBsList" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.userId,jdbcType=VARCHAR},
            #{item.appId,jdbcType=VARCHAR},
            #{item.feedback,jdbcType=LONGVARCHAR},
            #{item.picture,jdbcType=LONGVARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>