<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.FirmwareInfoMapper">

    <select id="exist" resultType="java.lang.Boolean">
        SELECT
            count(1)
        FROM
            firmware_info
        WHERE
            (
                firmware_type = #{firmwareType,jdbcType=VARCHAR}
                AND hardware_code = #{hardwareCode,jdbcType=VARCHAR}
                AND environment = #{environment,jdbcType=VARCHAR}
                AND version = #{version,jdbcType=VARCHAR}
                AND app_platform = #{appPlatform,jdbcType=VARCHAR}
                AND app_version_code = #{appVersionCode,jdbcType=INTEGER}
            )
            OR (
                firmware_type = #{firmwareType,jdbcType=VARCHAR}
                AND hardware_code = #{hardwareCode,jdbcType=VARCHAR}
                AND environment = #{environment,jdbcType=VARCHAR}
                AND version_code = #{versionCode,jdbcType=FLOAT}
                AND app_platform = #{appPlatform,jdbcType=VARCHAR}
                AND app_version_code = #{appVersionCode,jdbcType=INTEGER}
            )
    </select>

    <insert id="insert" parameterType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        INSERT INTO firmware_info (
        firmware_type, version,
        version_code, environment,
        gnss_version, md5,
        hardware_code, `enable`,
        create_time, url,
        description, app_platform,
        app_version_code, size
        )
        VALUES (
        #{firmwareInfo.firmwareType,jdbcType=VARCHAR}, #{firmwareInfo.version,jdbcType=VARCHAR},
        #{firmwareInfo.versionCode,jdbcType=FLOAT}, #{firmwareInfo.environment,jdbcType=VARCHAR},
        #{firmwareInfo.gnssVersion,jdbcType=INTEGER}, #{firmwareInfo.md5,jdbcType=VARCHAR},
        #{firmwareInfo.hardwareCode,jdbcType=VARCHAR}, #{firmwareInfo.enable,jdbcType=INTEGER},
        now(), #{firmwareInfo.url,jdbcType=LONGVARCHAR}, #{firmwareInfo.description,jdbcType=LONGVARCHAR},
        #{firmwareInfo.appPlatform,jdbcType=VARCHAR}, #{firmwareInfo.appVersionCode,jdbcType=INTEGER},
        #{firmwareInfo.size,jdbcType=FLOAT}
        )
    </insert>

    <update id="update" parameterType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        UPDATE firmware_info
        SET
        app_platform = #{firmwareInfo.appPlatform,jdbcType=VARCHAR},
        app_version_code = #{firmwareInfo.appVersionCode,jdbcType=INTEGER},
        firmware_type = #{firmwareInfo.firmwareType,jdbcType=VARCHAR},
        version = #{firmwareInfo.version,jdbcType=VARCHAR},
        version_code = #{firmwareInfo.versionCode,jdbcType=FLOAT},
        environment = #{firmwareInfo.environment,jdbcType=VARCHAR},
        gnss_version = #{firmwareInfo.gnssVersion,jdbcType=INTEGER},
        md5 = #{firmwareInfo.md5,jdbcType=VARCHAR},
        hardware_code = #{firmwareInfo.hardwareCode,jdbcType=VARCHAR},
        url = #{firmwareInfo.url,jdbcType=LONGVARCHAR},
        description = #{firmwareInfo.description,jdbcType=LONGVARCHAR},
        size = #{firmwareInfo.size,jdbcType=FLOAT}
        WHERE
        id = #{firmwareInfo.id,jdbcType=INTEGER}
    </update>

    <select id="getFirmwareInfoList" resultType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        SELECT
        id,
        app_platform AS appPlatform,
        app_version_code AS appVersionCode,
        firmware_type AS firmwareType,
        version,
        version_code AS versionCode,
        hardware_code AS hardwareCode,
        `enable`
        FROM
        firmware_info
        WHERE
        environment = #{environment,jdbcType=VARCHAR}
        ORDER BY
        create_time DESC
        LIMIT 200
    </select>

    <select id="getFirmwareDetail" resultType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        SELECT
        id AS id,
        app_platform AS appPlatform,
        app_version_code AS appVersionCode,
        firmware_type AS firmwareType,
        version AS version,
        version_code AS versionCode,
        environment AS environment,
        gnss_version AS  gnssVersion,
        md5 AS md5,
        size AS size,
        hardware_code AS hardwareCode,
        url AS url,
        `enable` AS `enable`,
        create_time AS createTime,
        description AS description
        FROM
        firmware_info
        WHERE
        firmware_type = #{firmwareType,jdbcType=VARCHAR}
        AND hardware_code = #{hardwareCode,jdbcType=VARCHAR}
        AND environment = #{environment,jdbcType=VARCHAR}
        AND version_code = #{versionCode,jdbcType=FLOAT}
        AND app_platform = #{appPlatform,jdbcType=VARCHAR}
    </select>

    <update id="cleanFirmware">
        UPDATE firmware_info
        SET `enable` = 0
        WHERE
        firmware_type = #{firmwareType,jdbcType=VARCHAR}
        AND hardware_code = #{hardwareCode,jdbcType=VARCHAR}
        AND environment = #{environment,jdbcType=VARCHAR}
    </update>

    <update id="enableFirmware">
        UPDATE firmware_info
        SET `enable` = 1
        WHERE
        firmware_type = #{firmwareType,jdbcType=VARCHAR}
        AND hardware_code = #{hardwareCode,jdbcType=VARCHAR}
        AND environment = #{environment,jdbcType=VARCHAR}
        AND version_code = #{versionCode,jdbcType=FLOAT}
    </update>

    <update id="setEnable">
        UPDATE firmware_info
        SET `enable` = #{enable,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getFirmwareInfo" resultType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        SELECT
            id AS id,
            app_platform AS appPlatform,
            app_version_code AS appVersionCode,
            firmware_type AS firmwareType,
            version AS version,
            version_code AS versionCode,
            environment AS environment,
            hardware_code AS hardwareCode,
            url AS url,
            `enable` AS `enable`,
            create_time AS createTime,
            description AS description,
            md5 AS md5,
            size AS size
        FROM
            firmware_info
        WHERE
            id = #{id,jdbcType=INTEGER}
    </select>

    <select id="delete">
        DELETE FROM firmware_info
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

</mapper>