<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.FirmwareInfoMapper">

    <select id="exist" resultType="java.lang.Boolean">
        SELECT
            count(1)
        FROM
            firmware_info
        WHERE
            (version = #{version,jdbcType=VARCHAR}
            OR version_code = #{versionCode,jdbcType=INTEGER})
            AND environment = #{environment,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.phicomm.product.manger.model.firmware.FirmwareInfo">
        INSERT INTO firmware_info (
            firmware_type, version,
            version_code, environment,
            hardware_code, `enable`,
            create_time, url,
            description
        )
        VALUES (
            #{firmwareInfo.firmwareType,jdbcType=VARCHAR}, #{firmwareInfo.version,jdbcType=VARCHAR},
            #{firmwareInfo.versionCode,jdbcType=INTEGER}, #{firmwareInfo.environment,jdbcType=VARCHAR},
            #{firmwareInfo.hardwareCode,jdbcType=VARCHAR}, #{firmwareInfo.enable,jdbcType=INTEGER},
            now(), #{firmwareInfo.url,jdbcType=LONGVARCHAR}, #{firmwareInfo.description,jdbcType=LONGVARCHAR}
        )
    </insert>

</mapper>