<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.product.manger.dao.WatchPlatePictureUploadMapper">

    <insert id="watchPlatePictureUpload" useGeneratedKeys="true" keyProperty="watchPlatePictureUpload.id"
            parameterType="com.phicomm.product.manger.model.watchplate.WatchPlatePictureUpload">
        INSERT INTO
            watch_plate_picture_upload(
                pic_id,
                pic_chi_name,
                pic_eng_name,
                pic_version,
                pic_resolution,
                pic_url,
                create_time,
                update_time
                )
        VALUES(
                #{watchPlatePictureUpload.picId, jdbcType=INTEGER},
                #{watchPlatePictureUpload.picChiName, jdbcType=VARCHAR},
                #{watchPlatePictureUpload.picEngName, jdbcType=VARCHAR},
                #{watchPlatePictureUpload.picVersion, jdbcType=VARCHAR},
                #{watchPlatePictureUpload.picResolution, jdbcType=VARCHAR},
                #{watchPlatePictureUpload.picUrl, jdbcType=VARCHAR},
                #{watchPlatePictureUpload.createTime, jdbcType=TIMESTAMP},
                #{watchPlatePictureUpload.updateTime, jdbcType=TIMESTAMP}
                );
    </insert>

    <select id="watchPlatePictureList" resultType="com.phicomm.product.manger.model.watchplate.WatchPlatePictureUpload">
        SELECT
        id,
        pic_version AS picVersion,
        pic_resolution AS picResolution,
        pic_id      AS picId,
        pic_chi_name AS picChiName,
        pic_eng_name AS picEngName,
        pic_url     AS picUrl,
        pic_status  AS picStatus,
        create_time AS createTime,
        update_time AS UpdateTime
       FROM
        watch_plate_picture_upload
    </select>

    <update id="pictureUpdate" parameterType="com.phicomm.product.manger.model.watchplate.WatchPlatePictureUpload">
        UPDATE watch_plate_picture_upload SET
        pic_status = #{watchPlatePictureUpload.picStatus, jdbcType=VARCHAR},
        update_time = NOW()
        WHERE
        pic_version=#{watchPlatePictureUpload.picVerison, jdbcType=VARCHAR},
        pic_id = #{watchPlatePictureUpload.picId, jdbcType=INTEGER}
    </update>

    <delete id="watchPlatePictureDelete"
            parameterType="com.phicomm.product.manger.model.watchplate.WatchPlatePictureUpload">
        DELETE
        FROM
        watch_plate_picture_upload
        WHERE
        id IN
        <foreach collection="data" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </delete>

    <select id="watchPlatePictureFind" resultType="com.phicomm.product.manger.model.watchplate.WatchPlatePictureUpload">
      SELECT
        pic_version AS picVersion,
        pic_resolution AS picResolution,
        pic_id      AS picId,
        pic_chi_name AS picChiName,
        pic_eng_name AS picEngName,
        pic_url     AS picUrl,
        pic_status  AS picStatus
      FROM
      watch_plate_picture_upload
      WHERE
      pic_version = #{picOldVersion}
    </select>
</mapper>