<link rel="stylesheet" type="text/css" href="$baseUrl/resources/fresco/fresco.css"/>
<link rel="stylesheet" type="text/css" href="$baseUrl/resources/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="$baseUrl/resources/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="$baseUrl/resources/css/feedback/feedback.css">
<style>
    #parentDiv li{
        margin-top:5px;
    }
</style>
<section class="content">

    <div class="modal fade" id="replayModal" tabindex="-1" role="dialog"
         aria-labelledby="replayModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="replayModalLabel">回复</h4>
                </div>
                <form role="form" enctype="multipart/form-data" id="addReplay">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="appIdReplay" name="appIdReplay">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="sessionIdReplay" name="sessionIdReplay">
                        </div>
                        <div class="form-group">
                            <p>文字</p>
                            <textarea name="dialogTextReplay" id="dialogTextReplay" rows="3" class="form-control"></textarea>
                        </div>

                        <div class="form-group box-form">
                            <p>图片 (限 4 张图片)</p>
                            <ul id="inputList">
                                <li class="img" id="input01">
                                    <img src="resources/image/imageUpload.png" class="inputImg" />
                                    <input id="file01" name="file1" class="album" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp" value="" onchange="preview(this,1)" />
                                </li>
                                <li class="img" id="input02">
                                    <img src="resources/image/imageUpload.png" class="inputImg" />
                                    <input id="file02" name="file2" class="album" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp" value="" onchange="preview(this,2)" />
                                </li>
                                <li class="img" id="input03">
                                    <img src="resources/image/imageUpload.png" class="inputImg" />
                                    <input id="file03" name="file3" class="album" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp" value="" onchange="preview(this,3)" />
                                </li>
                                <li class="img" id="input04">
                                    <img src="resources/image/imageUpload.png" class="inputImg" />
                                    <input id="file04" name="file4" class="album" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp" value="" onchange="preview(this,4)" />
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                        </button>
                        <button type="button" id="btn_submit" class="btn btn-primary" onclick="replaySave();">保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="phicomm_content_div">
        <div class="box box-solid phicomm_content_box" style="margin-bottom: 5px">
            <div class="box-body row">
                <div class="col-md-5">
                    <div class="col-sm-4">
                        <a href="#"><img src="./resources/image/logo.png"></a>
                    </div>
                    <div class="col-sm-8">
                        <span><font style="font-size: 20px"><strong>斐讯智能硬件产品线意见反馈</strong></font></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <ul style="list-style-type:none;">

                        <li style="float: right;">
                            <p>反馈总数</p>
                            <p align="center""><a href="#" style="color: #3C8DBC" id="totalCount">0</a></p>
                        </li>
                        <li style="float: right;width: 30px;text-align: center">
                            <span style="height:40px;width:2px;background-color: #9d9d9d;display: inline-block;"></span>
                        </li>
                        <li style="float: right;">
                            <p>新增反馈</p>
                            <p align="center""><a href="#" style="color: #F08200" id="newFeedbackCount">0</a></p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="phicomm_content_div">
        <div class="box box-solid phicomm_content_box" style="margin-bottom: -10px">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="appIdSelected" class="col-sm-4 control-label">产品类型</label>
                            <div class="col-sm-8">
                                <select class="form-control select2" id="appIdSelected" onchange="getDeviceType()">
                                    <option value="">全部</option>
                                    <option value="health">健康</option>
                                    <option value="sport">运动</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="deviceTypeSelected" class="col-sm-5 control-label">选择产品</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="deviceTypeSelected" onchange="getVersion()">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="versionSelected" class="col-sm-5 control-label">版本号</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="versionSelected">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-1" style="margin-left: 50px">
                            <div>
                                <button type="button" class="btn btn-primary pull-right phicomm_button_go" onclick="getAll()">
                                    全部
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="phoneNumberSelected" class="col-sm-4 control-label">电话号码</label>
                            <div class="col-sm-8">
                                <input readonly type="number" class="form-control pull-right" id="phoneNumberSelected" placeholder="请输入手机号">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="timeRangeSelected" class="col-sm-5 control-label" style="padding-left: 0;">日期范围</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control pull-right" id="timeRangeSelected" placeholder="请输入日期">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="keyWordsSelected" class="col-sm-5 control-label">关键字</label>
                            <div class="col-sm-7">
                                <input readonly type="text" class="form-control pull-right" id="keyWordsSelected" placeholder="昵称等其他搜索">
                            </div>
                        </div>
                        <div class="form-group col-md-1" style="margin-left: 50px">
                            <div>
                                <button type="button" class="btn btn-primary pull-right phicomm_button_go" onclick="searchFeedback()">
                                    搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="box-solid">
        <div class="box-body">
            <ul class="products-list product-list-in-box" id="parentDiv"></ul>
        </div>
        <div class="text-center" style="margin-top: -15px">
            <ul class="pagination pagination-sm" id="paging">
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript" src="$baseUrl/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/fresco/fresco.js"></script>
<script type="text/javascript" src="$baseUrl/resources/moment/moment.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="$baseUrl/resources/select2/select2.full.min.js"></script>
<script type="text/javascript" src="$baseUrl/resources/js/feedback/feedback.js?v=$uuid"></script>