<!DOCTYPE html>
    #set($baseUrl = $request.getScheme() + "://" + $request.getServerName() + ":" + $request.getServerPort() + $request.getContextPath())
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProductManger</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="product-manger">
    <meta name="author" content="yufei.liu">
    <link rel="shortcut icon" href="$baseUrl/resources/favicon.ico">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="$baseUrl/resources/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="$baseUrl/resources/font-awesome/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="$baseUrl/resources/ionicons/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="$baseUrl/resources/admin-lte/admin-lte.min.css">
    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href="$baseUrl/resources/admin-lte/all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="$baseUrl/resources/icheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="$baseUrl/resources/morris/morris.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="$baseUrl/resources/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="$baseUrl/resources/daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="$baseUrl/resources/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="$baseUrl/resources/ie/html5shiv.js"></script>
        <script src="$baseUrl/resources/ie/respond.min.js"></script>
    <![endif]-->
    <style>
        *{
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="$baseUrl/homepage" class="logo">
            <span class="logo-mini"><b>PM</b>Sys</span>
            <span class="logo-lg"><b>ProductManger</b>System</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            #parse("framework/user_info/user_info_right.vm")
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            #parse("framework/user_info/user_info_left.vm")
            <ul class="sidebar-menu">
                #parse("framework/aside/balance_statistic_aside.vm")
                #parse("framework/aside/trace_statistic_aside.vm")
                #parse("framework/aside/bpm_statistic_aside.vm")
                #parse("framework/aside/feedback_manger_aside.vm")
                #parse("framework/aside/firmware_upgrade_aside.vm")
                #parse("framework/aside/watchplate_picture_manager_aside.vm")
                #parse("framework/aside/card_manger_aside.vm")
                #parse("framework/aside/advertisement_health_manger_aside.vm")
                #parse("framework/aside/essay_manger_aside.vm")
                #parse("framework/aside/hermes_helper_aside.vm")
                #parse("framework/aside/swagger_manager_aside.vm")
                #parse("framework/aside/permession_manger_aside.vm")
                #parse("framework/aside/share_statistic_aside.vm")
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">

        #parse("framework/navigation.vm")

        #parse("$context")

    </div>
    #parse("framework/footer.vm")
</div>
<input id="baseUrl" value="$baseUrl" class="hidden"/>
<!-- jquery -->
<script src="$baseUrl/resources/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="$baseUrl/resources/bootstrap/bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="$baseUrl/resources/sparkline/jquery.sparkline.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="$baseUrl/resources/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="$baseUrl/resources/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="$baseUrl/resources/admin-lte/app.min.js"></script>
<!-- AdminLTE dashboard -->
<script src="$baseUrl/resources/admin-lte/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="$baseUrl/resources/admin-lte/demo.js"></script>
</body>
</html>
