<section class="content-header">
    <h1>
        $navigation.titleName
        <small>$navigation.titleDescription</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="$navigation.directoryUrl"><i class="$navigation.directoryIcon"></i> $navigation.directoryName</a></li>
        #foreach($item in $navigation.subDirectories)
            <li class="active">$item</li>
        #end
    </ol>
</section>